html,
body {
  font-family: "Schibsted Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: inherit; /* Inherit from parent elements */
  box-sizing: inherit;
}

h1,
h2,
h3 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 400; /* Regular */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
